.masonry-container {
  padding: 1rem;
  margin-top: 35px;
}

.my-masonry-grid {
  display: flex;
  margin-left: -16px; /* gutter size offset */
  width: auto;
}

.my-masonry-grid_column {
  padding-left: 16px; /* gutter size */
  background-clip: padding-box;
}

.masonry-item {
  display: block;
  margin: 16px;
  margin-top: 20px;
  transition: transform 0.3s ease;
}

/* .masonry-item:hover {
  transform: scale(1.02);
} */
.masonry-item:hover .masonry-img {
  opacity: 0.6; /* baja opacidad al hacer hover */
  filter: brightness(1.1); /* un toque más claro (opcional) */
}

.masonry-img {
  width: 100%;
  display: block;
  border-radius: none;
}
