/* carousel.css */
.carousel-fullscreen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: white;
  position: relative;
}
.gallery-index-button {
  position: absolute;
  top: 5px; /* Ajusta la distancia desde arriba */
  right: 10px; /* Ajusta la distancia desde la derecha */
  z-index: 10; /* Asegura que esté por encima de la imagen y las flechas */
  background-color: white;
  color: black;
  border: none;
}

.carousel-image {
  max-width: 90%;
  max-height: 90vh;
  object-fit: contain;
  /* border-radius: 20px; 
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5);  */
  display: block;
  margin: 0 auto;
}

.carousel-arrow {
  position: absolute;
  top: 50%;
  font-size: 1.5rem;
  background: rgba(0, 0, 0, 0.5);
  color: black;
  background: none;
  border: none;
  cursor: pointer;
  transform: translateY(-50%);
  z-index: 2;
}

.carousel-arrow.left {
  left: 20px;
}

.carousel-arrow.right {
  right: 20px;
}
.container {
  margin-top: 40px;
}
.carousel-fullscreen {
  margin-bottom: 20px;
}
