/* Contenedor del desplegable */
.custom-dropdown-container {
  position: relative;
  list-style: none;
}

/* Estilo para el botón/enlace que abre el desplegable (ej. "WORK") */
.custom-dropdown-toggle {
  color: black !important;
  cursor: pointer;
  padding: 10px 15px;
}

/* Estilos del menú desplegable (UL) */
.custom-dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  min-width: 160px;

  list-style: none;
  padding: 0;
  margin: 0;
}

.custom-dropdown-item {
  display: block;
  padding: 12px 16px;
  text-decoration: none;

  font-size: 16px;
  font-family: 'Roboto', sans-serif;

  color: rgb(13, 13, 13) !important;
  background-color: transparent !important;
}

.custom-dropdown-item:hover,
.custom-dropdown-item:focus {
  background-color: #66626218 !important;
}
